<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
   <li><%= error %><li>
  <% end %>
  <ul>
<%end %>

<form action="/sessions" method="POST">
  <fieldset>
  <legend>User Login</legend>
  <input type="text" name="user_name" placeholder="Username" =>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="submit!">
  </fieldset>

</form>